<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="base :: view-phone">
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <nav th:replace="~{base :: navbar}"></nav>
    </header>

    <main>
        <section>
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-md-5 g-4">
                    <div class="col" th:each="produto : ${produtos}">
                        <div class="card">
                            <div class="card-header">
                                <div class="flex flex-wrap flex-row align-items-center aling-content-between justify-space-between">
                                    <h6 class="flex-1" th:text="${produto.nome}">Nome Do Produto</h6>
                                    <button type="button" class="btn btn-primary btn-sm small-button"><i class="fas fa-edit"></i></button>
                                </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <label for="quantidade" class="form-label">Quantidade</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" th:text="${produto.tipoQuantidade}"></span>
                                        <input name="quantidade" th:number="${produto.quantidade}" id="quantidade" type="number" disabled
                                               class="form-control" aria-label="Amount (to the nearest dollar)">
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <label for="preco" class="form-label">Valor unitário</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">R$</span>
                                        <input name="preco" id="preco" th:number="${produto.preco}" type="number" disabled
                                               class="form-control" aria-label="Amount (to the nearest dollar)">
                                    </div>
                                </li>
                            </ul>
                            <div class="card-footer">
                                <h6><label for="total" class="form-label">Total</label></h6>
                                <div class="input-group mb-3">
                                    <span class="input-group-text negrito">R$</span>
                                    <input name="total" id="total" th:number="${produto.total}" type="number" disabled
                                           class="form-control negrito" aria-label="Amount (to the nearest dollar)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
