<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="base :: view-phone">
  <title>Cadastro de produto</title>
</head>
<body>

  <header>
    <div th:replace="base :: navbar"></div>
  </header>
  <main>
    <section class="container-fluid">
      <form th:object="${produto}" id="form" method="POST" action="#" th:action="@{/produto/salvar}">
        <div class="mb-3">
          <label for="nomeProduto" class="form-label">Nome do produto</label>
          <input autocomplete="off" th:field="*{nome}" placeholder="Nome do produto."
                 type="text" class="form-control" id="nomeProduto">
        </div>
        <div class="mb-3">
          <label for="preco" class="form-label">Valor</label>
          <input autocomplete="off" type="number" placeholder="Valor do produto."
                 th:field="*{preco}" class="form-control" id="preco">
        </div>
        <div class="mb-3">
          <label for="quantidade" class="form-label">Quantidade</label>
          <div class="input-group">
            <div>
              <select id="selectValue" onclick="pegarTipoQuantidade('selectValue')" class="form-select">
              <option>Selecione</option>
              <option value="KG">Quilo</option>
              <option value="UN">Unidade</option>
              </select>
              <input hidden th:field="*{tipoQuantidade}" id="tipoQunt" type="text">
            </div>
            <input autocomplete="off" type="number" placeholder="Quantidade do produto."
                   class="form-control" id="quantidade" th:field="*{quantidade}">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/" class="btn btn-secondary">Cancelar</a>
      </form>
    </section>
  </main>
</body>
<script>
  function pegarTipoQuantidade(nomeDoCampo){
    const valorSelecionado = document.querySelector(`#${nomeDoCampo}`);
    const tipoQunt = document.querySelector('#tipoQunt');
    console.log(tipoQunt);
    if (valorSelecionado.value === "KG" || valorSelecionado.value === "UN"){
      tipoQunt.value = valorSelecionado.value
    }
  }
</script>
</html>
